<%- include ("./partials/header") %>

<form action="/c" method="POST">
    <label>Select Constituency:</label>
    <select   name="constituency">
      <option value="JAYANAGARA">JAYANAGARA</option>
      <option value="VIDYARANYAPURA">VIDYARANYAPURA</option>
      <option value="YALAHANKA">YALAHANKA</option>
      <option value="YESHVANTHAPURA">YESHVANTHAPURA</option>
    </select>
    <input type="submit" value="Submit">
  </form>


<%- include ("./partials/footer") %>